.my_images{

    background: url("/images/about_image.jpg") no-repeat;
    background-size: 100%;
    height: 22em;
    width: 14em;
    margin-top: 4em;
    transform: rotate(-7deg);



}

.about_me{
  h3{
    color: $brand-color-sec;
    font-family: 'Cedarville Cursive', cursive;
  }

 ul {
    list-style: none;
    padding:0;
    margin:0;
}

li {
    padding-left: 1em;
    text-indent: -.7em;
}

li:before {
    content: "\002022"; font-family:"Webdings";
    color: $brand-color;
    padding-right: 7px;
}
  p.hello{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
  }
  p.hello span{
    text-decoration: none;
    font-family: cursive;
    color: black;
    font-size: 14px;
  }
}
