.title {

  padding: 2em;
}

.name {
  padding-left: 3em;
  padding-top: 4em;
  font-size: xx-large;
  font-weight: bolder;
}

.caption {
  padding-left: 3em;
  padding-top: 1em;
}

.hashtag {
  float: right;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: medium;
  padding: 3px;
  font-weight: 900;
}

ul>li{
    padding-bottom: 1em
}

em{

    color: red
}
