.work{
  .header{
    color: $brand-color;
    letter-spacing: 9px;
    font-size: 12px;
  }
  .company-header{
    color: $brand-color-sec;
    margin-top: 8px;
    font-size: 23px;
  }
  .company-duration{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
    color: $grey-color;
    margin-left: auto;
    text-align: end;
    float:right;
  }
  .company-designation{
    font-size: 18px;
    letter-spacing: 2px;
    color: $grey-color;
    float: left;

  }
  .company-project {
    /* float: left; */
    font-size: 10px;
    letter-spacing: 2px;
    color: #828282;
    /* float: left; */
    margin-top: 27px;
}
  .company-resp{
    margin-top: 12px;
    padding-bottom:12px;

  }
   ul {
      list-style: none;
      padding:0;
      margin:0;
  }

  li {
      padding-left: 1em;
      text-indent: -.7em;
      font-size: 14px;
  }

  li:before {
      content: "\002022"; font-family:"Webdings";
      color: $grey-color;
      padding-right: 10px;
  }

}

.coordinate{
    width: 20em;
    height: 15em;

    border-width: 1px;
    margin: 1px;

    legend{
      font-size: 12px;
      letter-spacing: 4px;
      color: $grey-color
    }
    ul{
      list-style: none;
      color: $grey-color;
      font-size: 16px;
      li:before{
        content: none;


      }
    }





}
.time{
  margin-left: 4px;
  font-size: 12px;
  letter-spacing: 3px;
  color: $brand-color-sec;
}
.institute{
  list-style: none;
  color: $grey-color;
  font-size: 16px;
}
.institute_stream{

  font-size: 14px;
  letter-spacing: 2px;
  color: $grey-color;
}
